<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Chess</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chessgame.js"></script>
  <h1>Welcome to the Chess Game!</h1>
</body>
</html>